body {
  background-color: #ffb307;
  margin-bottom: 0;
  font-family: "Righteous", cursive;
}
#carouselExampleCaptions {
  /* box-sizing: border-box; */
  box-shadow: -12px 11px 17px -3px rgba(0, 0, 0, 0.68);
  -webkit-box-shadow: -12px 11px 17px -3px rgba(0, 0, 0, 0.68);
  -moz-box-shadow: -12px 11px 17px -3px rgba(0, 0, 0, 0.68);
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
/* .album {
  background-color: #e38800;
} */
.jumbotron {
  /* background-color: #216f7c; */
  /* background-color: #e38800; */
  /* background-image: url("https://menuserrano.com/wp-content/uploads/2017/05/4454310-food-wallpapers.jpg"); */
  color: white;
  position: relative;
  /* display: inline-block; */
  overflow: hidden;
}
.jumbotron img {
  z-index: -1;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}
.border-box {
  box-sizing: border-box;
}
.slide-menu {
  width: 100%;
  height: 400px;
  background-color: black;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 0;
}

.col .card.shadow.p-1 {
  background-color: #ffd07a;
}

.card-image {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  height: 225px;
}
.card-image img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
}

.slide-menu img {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-height: 100%;
  min-width: 100%;
  transform: translate(-50%, -50%);
  opacity: 0.5;
}
.navbar {
  background-color: #ffb307;
}
.navbar-brand{
  font-family: "Pacifico", cursive;
}
#navbar-example3 a.navbar-brand{
  font-family: "Righteous", cursive;
}
.nav-item .text-danger:hover {
  color: white;
}
.promo-banner {
  width: 100%;
}

.nav-pills .nav-link.active {
  background-color: #212529;
  color: white;
}
.nav-pills .nav-link {
  color: #212529;
}